<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= day %>
        </h1>
    </div>

    <div class="box">
        <form class="item" action="/" method="post">
            <input type="text" name="task" placeholder="New Item" autocomplete="off" required>
            <button type="submit" name="button">+</button>
        </form>

        <% for(let i = 0;i < newItems.length;i++){   %>
            <div class='item'>
                <input type="checkbox">
                <p>
                    <%= newItems[i].name %>
                </p>
            </div>
            <% } %>
    </div>

    <%- include("footer") -%>